/* brand Colors - Extracted by DesignAssets */
:root {
  --brand-dark-gray: #1D1136;
  --brand-white: #FFFFFF;
  --brand-blue: #0000EE;
  --brand-green: #3DCC91;
  --brand-black: #000000;
  --brand-light-gray: #FFEDF4;
  --brand-dark-gray: #1E1237;
  --brand-light-gray: #F1F0F5;
  --brand-purple: #C2BCD3;
  --brand-purple: #C5C0D1;
  --brand-blue: #42208A;
  --brand-dark-gray: #190D25;
  --brand-red: #C81395;
  --brand-white: #FFF2FC;
  --brand-white: #F5F3F9;
  --brand-dark-gray: #0F081C;
  --brand-dark-gray: #1A1A2E;
  --brand-purple: #A089FF;
  --brand-light-gray: #E7E4F2;
  --brand-blue: #6642B3;
  --brand-dark-gray: #1E0C32;
  --brand-blue: #850AB0;
  --brand-purple: #C5B9DB;
  --brand-light-gray: #E0D9E8;
  --brand-dark-gray: #333333;
  --brand-light-gray: #D9D9D9;
  --brand-red: #FF1414;
  --brand-blue: #8A86DE;
  --brand-dark-gray: #140B25;
  --brand-blue: #735DFF;
  --brand-dark-gray: #3B0B0B;
  --brand-dark-gray: #160D26;
  --brand-blue: #6257EA;
  --brand-dark-gray: #0A001E;
  --brand-blue: #382F50;
  --brand-red: #FC6337;
  --brand-blue: #8B6EFF;
  --brand-blue: #2D1B3D;
  --brand-light-gray: #F8E4E4;
  --brand-light-gray: #FFDEDE;
  --brand-mixed: #9B9B9B;
}