/* background Colors - Extracted by DesignAssets */
:root {
  --background-color-1: #FFFFFF;
  --background-color-2: #C5C0D1;
  --background-color-3: #190D25;
  --background-color-4: #1D1136;
  --background-color-5: #42208A;
  --background-color-6: #1A1A2E;
  --background-color-7: #F5F3F9;
  --background-color-8: #A089FF;
  --background-color-9: #1E0C32;
  --background-color-10: #0F081C;
  --background-color-11: #FFEDF4;
  --background-color-12: #D9D9D9;
  --background-color-13: #FF1414;
  --background-color-14: #160D26;
  --background-color-15: #0A001E;
  --background-color-16: #382F50;
  --background-color-17: #000000;
  --background-color-18: #8B6EFF;
  --background-color-19: #2D1B3D;
  --background-color-20: #F8E4E4;
  --background-color-21: #FFDEDE;
}