/* border Colors - Extracted by DesignAssets */
:root {
  --border-color-1: #1D1136;
  --border-color-2: #FFFFFF;
  --border-color-3: #0000EE;
  --border-color-4: #3DCC91;
  --border-color-5: #000000;
  --border-color-6: #FFEDF4;
  --border-color-7: #1E1237;
  --border-color-8: #F1F0F5;
  --border-color-9: #C2BCD3;
  --border-color-10: #E7E4F2;
  --border-color-11: #C81395;
  --border-color-12: #FFF2FC;
  --border-color-13: #850AB0;
  --border-color-14: #C5B9DB;
  --border-color-15: #42208A;
  --border-color-16: #F5F3F9;
  --border-color-17: #6642B3;
  --border-color-18: #8A86DE;
  --border-color-19: #333333;
  --border-color-20: #6257EA;
  --border-color-21: #140B25;
  --border-color-22: #FC6337;
  --border-color-23: #A089FF;
  --border-color-24: #0F081C;
  --border-color-25: #735DFF;
  --border-color-26: #3B0B0B;
  --border-color-27: #9B9B9B;
}