/* text Colors - Extracted by DesignAssets */
:root {
  --text-color-1: #1D1136;
  --text-color-2: #FFFFFF;
  --text-color-3: #0000EE;
  --text-color-4: #3DCC91;
  --text-color-5: #000000;
  --text-color-6: #1E1237;
  --text-color-7: #FFEDF4;
  --text-color-8: #F1F0F5;
  --text-color-9: #C2BCD3;
  --text-color-10: #C81395;
  --text-color-11: #FFF2FC;
  --text-color-12: #E0D9E8;
  --text-color-13: #6642B3;
  --text-color-14: #333333;
  --text-color-15: #140B25;
  --text-color-16: #0F081C;
  --text-color-17: #735DFF;
  --text-color-18: #3B0B0B;
}